---
import { Button } from "@/components/ui/button"
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card"
import { Badge } from "@/components/ui/badge"
import { ExternalLink, Github } from "lucide-react"
import TechBadge from "@/components/TechBadge.astro";

const { projects } : Props = Astro.props;

type Props = {
    projects: Project[];
}

type Project = {
  name: string;
  image: string;
  githubUrl: string;
  link: string;
  technologies: string[];
  description: string;
};
---
<section class="container mx-auto max-w-5xl px-4 py-12">
    <h1 id="Projects" class="m-10 scroll-m-20 text-3xl font-semibold tracking-tight text-center mb-12">Projects</h1>
    <div class="grid grid-cols-[repeat(auto-fill,_minmax(24rem,_1fr))] gap-8">
        {projects.map((p) => (
        <div class="flex justify-center">
            <Card className="w-[32rem] pt-0 transition-transform hover:shadow-2xl hover:scale-102">
            <img
                src={"https://picsum.photos/900/1600" || p.image}
                alt={p.name}
                class="w-full h-64 object-cover rounded-t-xl"
            />
            <CardHeader>
                <CardTitle>{p.name}</CardTitle>
                <CardDescription>{p.description}</CardDescription>
            </CardHeader>
            <CardContent>
                <h3 class="text-sm font-medium mb-2">Technologies</h3>
                <div class="flex flex-wrap gap-2">
                    {p.technologies.map((tech) => (
                        <TechBadge tech={tech}/>
                    ))}
                </div>
            </CardContent>
            <CardFooter className="flex justify-between mt-auto">
                <a href={p.githubUrl}><Button variant="outline" className="cursor-pointer"><Github/>GitHub</Button></a>
                <a href={p.link}><Button variant="default" className="cursor-pointer"><ExternalLink/>Live Demo</Button></a>
            </CardFooter>
            </Card>
        </div>
        ))}
    </div>
</section>
