---
import { Button } from "@/components/ui/button"
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card"
import { Dialog, DialogTrigger, DialogContent } from "@/components/ui/dialog"
import { ExternalLink, Github } from "lucide-react"
import TechBadge from "@/components/TechBadge.astro";
import { ClickableCardImage } from "@/components/ClickableCardImage";

const { projects } : Props = Astro.props;

type Props = {
    projects: Project[];
}

type Project = {
  name: string;
  image: string;
  githubUrl: string;
  link: string;
  technologies: string[];
  description: string;
};
---
<section class="container mx-auto max-w-5xl px-4 py-12">
    <h1 id="Projects" class="m-10 scroll-m-20 text-3xl font-semibold tracking-tight text-center mb-12">Projects</h1>
    <div class="grid grid-cols-[repeat(auto-fill,_minmax(20rem,_1fr))] gap-12">
        {projects.map((p) => (
        <div class="flex justify-center">
            <Card className="w-[32rem] pt-0 transition-transform hover:shadow-2xl hover:scale-102">
            <ClickableCardImage image={p.image} alt={p.name} className="w-full h-64 object-cover rounded-t-xl" client:load/>
            {/* <Dialog>
                <DialogTrigger asChild>
                    <img
                    src={p.image}
                    alt={p.name}
                    class="w-full h-64 object-cover rounded-t-xl cursor-pointer"
                    />
                </DialogTrigger>
                <DialogContent className="max-w-4xl p-0">
                    <img
                    src={p.image}
                    alt={p.name}
                    class="w-full h-auto max-h-[80vh] object-contain rounded-xl"
                    />
                </DialogContent>
            </Dialog> */}
            <CardHeader>
                <CardTitle>{p.name}</CardTitle>
                <CardDescription>{p.description}</CardDescription>
            </CardHeader>
            <CardContent>
                <h3 class="text-sm font-medium mb-2">Technologies</h3>
                <div class="flex flex-wrap gap-2">
                    {p.technologies.map((tech) => (
                        <TechBadge tech={tech}/>
                    ))}
                </div>
            </CardContent>
            <CardFooter className="flex justify-between mt-auto">
                {p.githubUrl && <a href={p.githubUrl}><Button variant="outline" className="cursor-pointer"><Github/>GitHub</Button></a>}
                {p.link && <a href={p.link}><Button variant="default" className="cursor-pointer"><ExternalLink/>Live Demo</Button></a>}
            </CardFooter>
            </Card>
        </div>
        ))}
    </div>
</section>
